<div class="grid">
  <div class="col-12 md:col-12 lg:col-12 xl:col-2">
    <p-fieldset legend="Folders">
      <p-tree
        [filter]="true"
        scrollHeight="700px"
        [value]="folders"
        selectionMode="single"
        (onNodeSelect)="nodeSelect($event)"></p-tree>
    </p-fieldset>

    <!--  
    <p-card>
      <p-tree [filter]="true" scrollHeight="725px" [value]="folders" selectionMode="single"
        (onNodeSelect)="nodeSelect($event)"></p-tree>
    </p-card>

    -->
  </div>

  <div class="col-12 md:col-12 lg:col-12 xl:col-7">
    <p-fieldset legend="Dicom Instance Number {{ instanceNumber }}">
      <div
        style="
          background: #1e1e1e;
          color: rgba(255, 255, 255, 0.87);
          border: 1px solid #383838;
          border-radius: 3px;
          padding: 5px;
        ">
        <div *ngIf="showMenu" style="padding: 10px">
          <p-menubar *ngIf="showMenu" [model]="items"></p-menubar>
        </div>
   
        <div *ngIf="!showMenu" style="padding: 25px">
          <p>No results found</p>
        </div>

        <div style="display: flex; justify-content: center">
          <div id="content" #content style="width: 0px; height: 0px"></div>
        </div>
      </div>
    </p-fieldset>

    <!--  
    <p-card [style]="{ 'min-height': '834px' }">
      <div class="grid">
        <div class="md:col-12 lg:col-12 xl:col-7">
          <div style="
              background: #1e1e1e;
              color: rgba(255, 255, 255, 0.87);
              border: 1px solid #383838;
              border-radius: 3px;
              padding: 5px;
            ">
            <div class="grid" *ngIf="showMenu">
              <div class="col-7">
                <p-menubar [model]="items"></p-menubar>
              </div>
              <div class="col-5" style="display: flex; align-items: center;">
                <p class="titleDicom">
                  Dicom Instance Number {{ imageView.instanceNumber }}
                </p>
              </div>
            </div>

            <br />
            <div style="display: flex; justify-content: center">
              <div id="content" style="width: 690px; height: 690px"></div>
            </div>
          </div>
        </div>

        <div class="md:col-12 lg:col-12 xl:col-5">
          <p-listbox [listStyle]="{ 'max-height': '720px' }" [readonly]="true" [options]="viewMetaData"
            [(ngModel)]="selectedList" [filter]="true">
            <ng-template let-metaData pTemplate="item">
              <div style="display: flex; flex-direction: column">
                <p class="header">{{ metaData.name }}</p>
                <p>{{ metaData.value }}</p>
              </div>
            </ng-template>
          </p-listbox>
        </div>
      </div>
    </p-card>
    -->
  </div>

  <div class="col-12 md:col-12 lg:col-12 xl:col-3">
    <p-fieldset legend="Informations">
      <p-listbox
        [listStyle]="{ 'max-height': '720px' }"
        [readonly]="true"
        [options]="viewMetaData"
        [(ngModel)]="selectedList"
        [filter]="true">
        <ng-template let-metaData pTemplate="item">
          <div style="display: flex; flex-direction: column">
            <p class="header">{{ metaData.name }}</p>
            <p>{{ metaData.value }}</p>
          </div>
        </ng-template>
      </p-listbox>
    </p-fieldset>
  </div>
</div>
