<router-outlet></router-outlet>
<ngx-spinner
    bdColor="#121212"
    size="large" 
    type="line-scale"
    [fullScreen]="true"
    color="#64b5f6"
>
 
    <p>Welcome to Campus Bio-Medico</p>

 
</ngx-spinner>
