#body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 // background-color: transparent;
}
.container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.circle {
  position: absolute;
  border-radius: 50%;
  animation: spin 4s linear infinite;
  display: flex;
}

.circle-green {
  border: 3px solid #20abe4;
  border-left: 3px solid #20abe4;
  animation-delay: 1s;
  width: 60px;
  height: 60px;
}

.circle-red {
  border: 3px solid #20abe4;
  border-left: 3px solid #20abe4;
  animation-delay: 0.5s;
  width: 80px;
  height: 80px;
}

.circle-blue {
  border: 3px solid #20abe4;
  border-left: 3px solid #20abe4;
  width: 100px;
  height: 100px;
}

@keyframes spin {
  100% {
    transform: rotate3D(1, 0.5, 0.75, 720deg) rotateZ(720deg);
  }
}

span, a{
  color: #20abe4 !important;
}