input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}



.header {
    color: var(--primary-color);
    transition: 0.5s;
    font-family: Hack, sans-serif;
}

.titleDicom {
    color: var(--primary-color);
    transition: 0.5s;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin: 0 1rem;
    padding: 0;
    text-align: center;
}


@media screen and (max-width: 1850px) {
    #content {
        width: 500px !important;
        height: 500px !important;
    }
    
}

@media screen and (max-width: 1550px) {
    #content {
        width: 470px !important;
        height: 470px !important;
    }
}

@media screen and (max-width:1281px) {

    /* hi-res laptops and desktops */
    #content {
        width: 440px !important;
        height: 440px !important;
    }
}


@media screen and (max-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    #content {
        width: 410px !important;
        height: 410px !important;
    }
}


@media screen and (max-width:801px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #content {
        width: 380px !important;
        height: 380px !important;
    }
}


@media screen and (max-width:600px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    #content {
        width: 350px !important;
        height: 350px !important;
    }
}
 

@media screen and (max-width:480px) {}


@media screen and (max-width:320px) {}
 
 

 


 

 