/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

// *::-webkit-scrollbar-track {
//     background: #ffffff;
// }

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 12px;
}
