<div class="container-bg">
  <div class="login-box w-10 sm:w-10 md:w-8 lg:w-3">
    <!--  
    <div class="container">
      
      <img src="assets/images/auth/campus.png" alt="" height="100px" width="100px" />
 
      <div class="circle circle-red"></div>
      <div class="circle circle-blue"></div>
      <div class="circle circle-green"></div>
  
    </div>
      -->
    <div style="display: flex; flex-direction: column; align-items: center">
      <img
      src="assets/images/auth/campus.png"
      alt=""
      height="70px"
      width="70px" />
  </div>
  <br />
      <h3>Campus Bio-Medico</h3>
 
    <br />
    <form [formGroup]="loginForm">
      <div class="user-box">
        <input type="text" formControlName="username" />
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" formControlName="password" />
        <label>Password</label>
      </div>
      <button *ngIf="!loginForm.valid">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
      <button
        type="submit"
        *ngIf="loginForm.valid"
        (click)="login()"
        class="enabled">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
</div>
<p-toast></p-toast>
