#body {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
}
.container {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.circle {
    position: absolute;
    border-radius: 50%;
    animation: spin 4s linear infinite;
    display: flex;
}

.circle-green {
    border: 3px solid var(--primary-color);
    border-left: 3px solid var(--secondary-color);
    animation-delay: 1s;
    width: 60px;
    height: 60px;
}

.circle-red {
    border: 3px solid var(--primary-color);
    border-left: 3px solid var(--secondary-color);
    animation-delay: 0.5s;
    width: 80px;
    height: 80px;
}

.circle-blue {
    border: 3px solid var(--primary-color);
    border-left: 3px solid var(--secondary-color);
    width: 100px;
    height: 100px;
}

@keyframes spin {
    100% {
        transform: rotate3D(1, 0.5, 0.75, 720deg) rotateZ(720deg);
    }
}

p {
    //   color: #b7ebff;
    color: var(--primary-color);
    font-size: 22px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    text-align: center;
}
p span {
    transition: 0.5s linear;
}

.sidebar_apx:hover {
    p span:nth-child(1) {
        margin-right: 5px;
    }

    p span:nth-child(2) {
        margin-left: 30px;
    }
    p span {
        // color: #20abe4;
        color: #fff;
        text-shadow: 0 0 10px var(--primary-color),
            0 0 20px var(--primary-color), 0 0 40px var(--primary-color);
    }
}
