<div class="sidebar_apx">
    <div id="body">
        <div class="container">
            <img
                src="assets/images/auth/cerberus_logo.svg"
                alt=""
                width="55px"
            />
            <div class="circle circle-red"></div>
            <div class="circle circle-blue"></div>
            <div class="circle circle-green"></div>
        </div>
    </div>
    <!--
  <div class="text-900 text-3xl font-medium mb-3 text-center" >SafeMind<br/> Manager</div>
-->

    <p style="cursor: pointer">
        <span>Cerberus<br /></span>
    </p>
    <br />
    <ul class="layout-menu">
        <ng-container *ngFor="let item of model; let i = index">
            <li
                app-menuitem
                *ngIf="!item.separator"
                [item]="item"
                [index]="i"
                [root]="true"
            ></li>
            <li *ngIf="item.separator" class="menu-separator"></li>
        </ng-container>
    </ul>
</div>
