<div
    class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
        <div id="body">
            <div class="container">
                <img
                    src="assets/images/auth/cerberus_logo.svg"
                    alt=""
                    width="55px"
                />
                <div class="circle circle-red"></div>
                <div class="circle circle-blue"></div>
                <div class="circle circle-green"></div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="col-12 mt-5 xl:mt-0 text-center"></div>
        <div
            class="col-12 xl:col-6"
            style="
                width: 30%;
                border-radius: 6px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 0%,
                    rgba(33, 150, 243, 0) 100%
                );
            "
        >
            <div
                class="flex justify-content-center h-full w-full m-0 py-3 px-4"
                style="
                    border-radius: 3px;
                    background: linear-gradient(
                        180deg,
                        var(--surface-50) 38.9%,
                        var(--surface-0)
                    );
                    background: #17212f;
                "
            >
                <div class="grid flex-column align-items-center">
                    <br />
                    <span class="text-blue-500 font-bold text-3xl">404</span>

                    <div class="col-12 mt-5 text-center">
                        <i
                            class="pi pi-fw pi-arrow-left text-blue-500 mr-2"
                            style="vertical-align: center"
                        ></i
                        ><a href="#" class="text-blue-500">Go to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
