<div class="layout-footer">
    <img
        src="assets/images/auth/cerberus_logo.svg"
        alt="Logo"
        height="25"
        class="mr-2"
    />

    by
    <span class="font-medium ml-2">- SFERANET S.R.L.</span>
</div>
