p {
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        var(--primary-color),
        var(--secondary-color),
        var(--primary-color)
    );
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
    color: aqua;
    background: white;
} 

@keyframes shine {
    0% {
        background-position-x: -500%;
    }
    100% {
        background-position-x: 500%;
    }
}


 

p {
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #64b5f6, #b7ebff, #64b5f6);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
   