<div class="layout-topbar">
  <!--  
    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button w-min"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
        <p class="header">CERBERUS</p>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>
-->
  <p class="header">Campus Bio-Medico</p>

  <!--
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" >
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
-->

  <div #topbarmenu class="layout-topbar-menu">
    <div style="display: flex; align-items: center; margin-right: 10px">
      <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Upload Folder
      </label>
      <input 
        id="file-upload"
        type="file"
        (change)="setFiles(fileInput.files)"
        #fileInput
        webkitdirectory
        multiple />
    </div>

    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <input type="text" pInputText placeholder="Search" />
      </ng-template>
      <ng-template pTemplate="end"> </ng-template>
    </p-menubar>
  </div>
</div>
