html {
  height: 100%;
}

.container-bg {
  margin: 0;
  height: 100vh;
  padding: 0;
  font-family: sans-serif;
 // background: linear-gradient(#121212, #121212);
  //background-image: url('/assets/images/auth/low-poly-grid-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  //background: rgba(18, 18, 18, 1);
  box-sizing: border-box;
 // box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  box-shadow: 0 15px 25px rgba(100, 181, 246, 0.6);
//box-shadow: 0 15px 25px rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.login-box h2,
.login-box h3 {
  // color: #b7ebff;
  color: var(--primary-color);
  // font-size: 25px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  text-align: center;

  margin: 0 0 30px;
  padding: 0;
  // color: #fff;
  text-align: center;
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    color: #fff;
    text-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color),
      0 0 40px var(--primary-color);
  }
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  // color: #03e9f4;
  color: var(--primary-color);

  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--primary-color);
  background: transparent;
  border: 0;
  // color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button.enabled:hover {
  // background: #03e9f4;
  cursor: pointer;
  background: var(--primary-color);

  color: #fff !important;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--primary-color), 0 0 25px var(--primary-color),
    0 0 50px var(--primary-color), 0 0 100px var(--primary-color);
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--primary-color));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primary-color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--primary-color));
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--primary-color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}
.circle {
  position: absolute;
  border-radius: 50%;
  animation: spin 4s linear infinite;
  display: flex;
}

.circle-green {
  border: 3px solid var(--primary-color);
  border-left: 3px solid var(--secondary-color);
  animation-delay: 1s;
  width: 100px;
  height: 100px;
}

.circle-red {
  border: 3px solid var(--primary-color);
  border-left: 3px solid var(--secondary-color);
  animation-delay: 0.5s;
  width: 100px;
  height: 100px;
}

.circle-blue {
  border: 3px solid var(--primary-color);
  border-left: 3px solid var(--secondary-color);
  width: 100px;
  height: 100px;
}

@keyframes spin {
  100% {
    transform: rotate3D(1, 0.5, 0.75, 720deg) rotateZ(720deg);
  }
}
