/* General */
$scale:14px;                    /* main font size */ 
$borderRadius: 3px;             /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */ 
